# ==============================================================================
# CODEVERITUS SYSTEM CORE MODULE
# ==============================================================================
# File: model/deployment/streamlit_app/requirements.txt
# Author: ABHIMANYU993
# Email: abhimanyubadiger1001@gmail.com
# Project: Codeveritus - AI vs Human Code Classifier
# Description: Modular component containing system configuration or script details.
# ==============================================================================

datasets==3.0.1
fastapi==0.115.3
Flask==3.0.3
numpy==1.26.3
requests==2.32.3
torch==2.5.0
transformers
streamlit
gdown